name: mbm_elearning
description: mbm_elearning, A notes sharing plateform.

version: 0.0.1+1

environment:
  sdk: ">=2.15.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.3
  uuid: ^3.0.4
  http: ^0.13.3
  firebase_core: ^1.20.0
  firebase_analytics: ^9.3.0
  url_launcher: ^6.0.9
  flutter_bloc: ^7.3.1
  equatable: ^2.0.3
  firebase_auth: ^3.6.1
  google_sign_in: ^5.4.0 # need to setup with double condition
  share_plus: ^4.0.10
  carousel_slider: ^4.0.0
  firebase_messaging: ^12.0.1
  flutter_linkify: ^5.0.2
  introduction_screen: ^3.0.2
  sqflite: ^2.0.0+4 # android ios
  connectivity_plus: ^2.3.6
  cloud_firestore: ^3.4.2
  shared_preferences: ^2.0.15
  firebase_dynamic_links: ^4.3.3
  flutter_svg: 
  permission_handler: ^10.0.0 # android and ios // need to setup with double condition
  provider: ^6.0.3
  scrollable_positioned_list: ^0.3.2
  linkfy_text: ^1.1.5
  update_available: ^2.1.0 # android and ios
  googleapis: ^9.1.0
  file_picker: ^4.3.3
  googleapis_auth: ^1.3.1
  html: ^0.15.0
  flutter_html: ^3.0.0-alpha.5
  flutter_html_all: ^3.0.0-alpha.5
  dropdown_search: ^5.0.2
  html_editor_enhanced: ^2.5.0 # warning flutter build web --web-renderer html
  awesome_notifications: ^0.7.0-beta.5 #android ios
  date_time_picker: ^2.1.0
  firebase_in_app_messaging: ^0.6.0+20 #android ios
  tutorial_coach_mark: ^1.2.3
  calendar_timeline: ^1.0.5
  chips_choice_null_safety: ^2.0.6
  


dev_dependencies:
  flutter_lints: ^2.0.1
  flutter_flavorizr: ^2.1.3
  flutter_test:
    sdk: flutter

flutter:

  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/
    - assets/rive/
    - assets/lottie/

  fonts:
    - family: Righteous
      fonts:
        - asset: assets/fonts/Righteous-Regular.ttf
  
# flutter pub run flutter_flavorizr -p android:buildGradle,android:androidManifest
flavorizr:
  app:
    android:
      flavorDimensions: "mbm-elearning-type"
    ios:

  flavors:
    mprod:
      app:
        name: "MBM Elearning"
      android:
        applicationId: "com.mbm.elereaning.mbmecj"
        firebase:
          config: ".firebase/mprod/google-services.json"
      ios:
        bundleId: "com.mbm.elereaning.mbmecj"

    mdev:
      app:
        name: "MBM Elearning Dev"
      android:
        applicationId: "com.mbm.elereaning.mbmecj.dev"
        firebase:
          config: ".firebase/mdev/google-services.json"
      ios:
        bundleId: "com.mbm.elereaning.mbmecj.dev"

# flutter build apk --flavor mprod -t lib/main_mprod.dart
# flutter build apk --flavor mdev -t lib/main_mdev.dart
# flutter build appbundle --flavor mprod -t lib/main_mprod.dart

# flutter run --flavor mdev -t lib/main_mdev.dart
# flutter run --web-renderer html --flavor mdev -t lib/main_mdev.dart