name: mbmelearning
description: MBM e-learning app is the simple, thrilling and quite interesting way to learn and grow online . It is user- friendly and easily available in two modes - first is website and other is mobile Android application. In this, every student can get their needy branchwise study material such as all books, notes, PDFs, syllabus,  time table, informative videos and most importantly previous year papers. It also provide information about activities which are prevailing in our college , one can update themselves using this app and anyone can upload their useful content here. isn't it exciting?

version: 5.0.0+5

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.1
  velocity_x: ^1.4.1
  flutter_icons: ^1.1.0
  firebase: ^7.3.0
  firebase_core: ^0.7.0
  url_launcher: ^5.7.10
  cloud_firestore: ^0.16.0
  modal_progress_hud: ^0.1.3
  firebase_auth: ^0.20.0+1
  google_sign_in: ^4.5.9
  firebase_analytics: ^7.0.1
  firebase_messaging: ^8.0.0-dev.15
  flutter_linkify: ^5.0.2
  firebase_in_app_messaging: ^0.3.0+1
  in_app_update: ^2.0.0
  google_mobile_ads: ^0.13.2
  photo_view: ^0.11.1
  firebase_database:
  flutter_html:
  http:
  webfeed:


dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

flutter:

  uses-material-design: true


  assets:
    - assets/

